<!DOCTYPE html>
<html>
  <head>
    <title>Mymovies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <h2>Welcome <%= current_user.email %></h2>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <%= link_to 'Change password', edit_user_registration_path %> 
        <p><%= link_to 'My Movies', movies_path %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
