<!DOCTYPE html>
<html>
  <head>
    <title>Mymovies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    
    <p class="notice"></p>
    <p class="alert"><%= alert %></p>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <p class="nav-link"><%= link_to 'Home', home_path %></p>
  </li>
  <li class="nav-item">
    <p class="nav-link"><%= link_to 'Movies', movies_path %></p>
  </li>

  <% if user_signed_in? %>
  <li class="nav-item">
    <p class="nav-link" ><%= link_to 'Watchlist', user_movies_path %></p>
  </li>
  <li class="nav-item justify-content-end"> 
    <span class="navbar-text"><%= current_user.email %></span>
  </li>
  <% else %>
  <li class="nav-item">
    <p class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><%= link_to 'Watchlist', user_movies_path %></p>
  </li>
  <% end %>
</ul>


    <div class="container bdy">

        <%= yield %>
    </div>
  </body>
</html>
