<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Director</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.description %></td>
        <td><%= movie.director %></td>
        <td><%= movie.year %></td>
        <td><%= link_to 'Show', movie %></td>
      </tr>
    <% end %>
  </tbody>
</table>