<h1>Movies#show</h1>
<p>Find me in app/views/movies/show.html.erb</p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>


<%= link_to 'Add to watchlist', user_movies_new_path(@movie) %>