<h1><%= @movie.title %></h1>
<br />

<p>
  <strong>Description</strong>
  <br />
  <%= @movie.description %>
</p>

<p>
  <strong>Year</strong>
  <br />
  <%= @movie.year %>
</p>

<p>
  <strong>Director</strong>
  <br />
  <%= @movie.director %>
</p>

<% if user_signed_in? %>
<button type="button" class="btn btn-outline-secondary btn-light"><%= link_to 'Add to watchlist', user_movies_new_path(@movie) %></button>
<% end %>