<h1><%= @user_movie.movie.title %> </h1>

<%= form_for @user_movie, url: {action: "update"} do |f| %>
     <%= f.label :status %>
    <%= f.select :status, options_for_select([['Watched', 'Watched'], ['To be watched', 'To be watched'], ['Favorite', 'Favorite']], selected: @user_movie.status) %>
    <%= f.submit "Save" %>
<% end %>
<button type="button" class="btn btn-outline-secondary btn-light"><%= link_to 'Back to watchlist', user_movies_path %></button>