
<h3><%= @user_movie.movie.title %> </h3>
<%= form_for @user_movie, url: {action: "create"} do |f| %>
    <%= f.hidden_field :movie_id, value: @user_movie.movie.id %>
    <%= f.label :status %>
    <%= f.select :status, options_for_select([['Watched'], ['To be watched'], ['Favorite']]) %>
    <%= f.submit "Save" %>
<% end %>
<button type="button" class="btn btn-outline-secondary btn-light"><%= link_to 'Back', movie_path(@user_movie.movie_id) %></button>